body {background-color: powderblue;
    background-image: url('comet.gif');
    background-attachment: fixed;
    background-size: 100% 100%;}
.ap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000FF;
    display: flex;
    align-items: center;
}

.ac {
    font-size:25px;
}

.ac a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Noto Sans Tamil', sans-serif;
    line-height: 1;
}

.ac a:hover {
    background-color: #00FF00;
}
.apps{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008B8B;
}
.app{
    float: left;
}
.app a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.app a:hover{
    background-color: #004C4C;
}
.u{
    color:#EAEAEA;
    font-size:40px;
}
.o{
    color:yellow;
    font-size:40px;
}
table, th, td {
    border: 5px solid blue;
    border-collapse: collapse;
}
th{
    background-color: #000000;
}
tr:nth-child(odd) {
    background-color: #000000;
}
tr:nth-child(even) {
    background-color: #555555;
}
tr:hover {background-color: #FF00FF;}